.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  width: 100vw;
}

.welcome-header {
  font-size: 45px;
  padding: 20px;
  background-color: transparent;
  margin: 30px 50px 20px 50px;
}

.client-list-container {
  background-color: var(--shade-2);
  width: 375px;
  min-height: 375px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 15px;
  border: 1px solid var(--shade-4);
}

.client-list-container > p {
  border-bottom: 2px solid var(--shade-4);
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: 700;
  padding: 3px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
