.workout-week {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-header {
  font-size: 40px;
  padding: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: 30px 50px 20px 50px;
  max-width: 600px;
}

.week-schedule-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.week-update-btn {
  background: var(--shade-2);
  font-size: 25px;
  margin: 15px;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.week-update-btn:hover {
  box-shadow: inset 14em 0 0 1px var(--shade-4);
}

.week-update-btn:active {
  transition: 0.2s;
  transform: translateY(1px);
}
